{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "blockless-after-same-name-blockless",
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ],
        "ignoreAtRules": [
          "if",
          "else"
        ]
      }
    ],
    "block-closing-brace-newline-after": [
      "always",
      {
        "ignoreAtRules": [
          "if",
          "else"
        ]
      }
    ],
    "length-zero-no-unit": null,
    "number-no-trailing-zeros": null,
    "selector-list-comma-newline-after": "always-multi-line",
    "selector-type-no-unknown": null,
    "no-empty-source": null,
    "scss/declaration-nested-properties": "never",
    "scss/selector-no-redundant-nesting-selector": true,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        ignorePseudoClasses: [
          "vertical",
          "horizontal",
          "window-inactive",
        ],
      }
    ]
  }
}
