<el-container class="entry-page">
  <el-header class="header">
    <el-row type="flex">
      <el-col>header</el-col>
      <el-col class="text-right">
        <small>当前服务器时间：{{formatDateTime}}</small>
      </el-col>
    </el-row>
  </el-header>
  <el-container>
    <el-aside>
      <el-menu background-color="#545c64"
               text-color="#fff"
               active-text-color="#ffd04b">
        <el-submenu v-for="menu in menus" :index="menu.index" :key="menu.index">
          <template slot="title">
            <i class="el-icon-location"></i>
            <span>{{menu.name}}</span>
          </template>
          <el-menu-item v-for="child in menu.children" :index="child.index" :key="child.index"
                        @click="$router.push(child.path)">
            {{child.name}}
          </el-menu-item>
        </el-submenu>
      </el-menu>
    </el-aside>
    <el-main>
      <router-view></router-view>
    </el-main>
  </el-container>
</el-container>
