.text-right {
  text-align: right;
}

@each $size in 0, 4, 8, 16, 32 {
  .m-#{$size} {
    margin: #{$size}px;
  }

  .mt-#{$size} {
    margin-top: #{$size}px;
  }

  .mr-#{$size} {
    margin-right: #{$size}px;
  }

  .mb-#{$size} {
    margin-bottom: #{$size}px;
  }

  .ml-#{$size} {
    margin-left: #{$size}px;
  }

  .p-#{$size} {
    padding: #{$size}px;
  }

  .pt-#{$size} {
    padding-top: #{$size}px;
  }

  .pr-#{$size} {
    padding-right: #{$size}px;
  }

  .pb-#{$size} {
    padding-bottom: #{$size}px;
  }

  .pl-#{$size} {
    padding-left: #{$size}px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
