* {
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}

// webkit 内核浏览器滚动条样式修改
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
