.text-larger {
  font-size: 20px;
}

.text-large {
  font-size: 18px;
}

.text-middle-large {
  font-size: 16px;
}

.text-regular {
  font-size: 14px;
}

.text-small {
  font-size: 13px;
}

.text-smaller {
  font-size: 12px;
}
